*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen','Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.App{
  width: 70vw;
  height: 100vh;
  margin: 0 auto;
  text-align: center;
  border: 1px solid black;
}
.items-list{
  width: 150px;
}
@media (max-width: 600px) {
  .App{
    width: 100vw;
  }
}